# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
.venv/
env/
.env

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Distribution / Builds ---
build/
dist/
*.egg-info/

# --- Operating System ---
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IDE / Editor Settings ---
# VS Code
.vscode/
# Pycharm
.idea/